@import "../path_file.scss";
.FirstStep {
  padding: 0 0 0 138px;
  @include _768 {
    padding: 0 16px;
  }
  @include _1280 {
    padding: 0 24px;
  }
  @include _1440 {
    padding: 0 0 0 24px;
  }
}
.MainText {
  margin: 95px 524px 0 0;
  @include _768 {
    width: 100%;
    font-size: 20px;
    line-height: 28px;
    margin: auto;
    margin-top: 20px;
  }
  @include _1280 {
    margin: 64px 117px 0 0;
    font-size: 32px;
  }
  @include _1440 {
    margin: 96px 454px 0 0;
  }
}
mark {
  color: red;
  background-color: white;
}
.FirstSection {
  display: flex;
  width: 100%;
  justify-content: space-between;
  @include _768 {
    align-items: start;
    margin: 40px 0 0 0;
    flex-direction: column;
    justify-content:start;
  }
  @include _1280 {
    align-items: start;
    margin: 0;
    flex-direction: column;
    justify-content:start;
  }
  @include _1440 {
    justify-content:start;
  }
}
.ProjectBtn {
  display: flex;
  margin: 64px 0 0 0;
  @include _768 {
    margin: 0 0 24px 0;
    width: 100%;
  }
  @include _1280 {
    margin: 40px 0 0 0;
  }
  @include _1440 {
    margin: 64px 0 0 0;
  }
}
.FirstPic {
  width: 100%;
  height: 100%;
}

.PicWrap {
  margin:-77px 65px 0 205px;
  @include _768 {
    margin: 0 0 0 0;
  }
  @include _1280 {
    margin: 0 0 0 117px;
  }
  @include _1440 {
    margin: 0 0 0 205px;
  }
}
