.App {
  position: relative;
  width: 100%;
}
h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 54px;
  text-transform: uppercase;
  color: #3f4252;
}
h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}
h4 {
  font-family: "Montserrat";
  font-style: normal;
}
h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  color: #3f4252;
  margin: 0;
}
h6 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  color: #3a3c3b;
  margin: 0;
}
h9 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ff5a1f;
}
h10 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}
