@import "../path_file.scss";
.OrderProjectBtn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 12px 30px;
  height: 52px;
  border: 2px solid #ff5a1f;
  border-radius: 32px;
  background-color: white;
  @include _1280 {
    width: 270px;
    padding: 16px 30px;
  }
  @include _1440 {
    padding: 16px 32px;
    
  }
}
